include mixins

doctype html(lang='en')
head
  title Carol Kahn
  link(rel="stylesheet", href="/style.css")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
  // Required for Previews and Experiments
  script(src="//static.cdn.prismic.io/prismic.min.js")

body
  +nav("Carol Kahn", "main-nav")
    +nav_item( "/", "active" ) Home
    each page, index in pages
        +nav_item( '#'+index )=page.getText('page.title')

  block body