doctype html(lang='en')
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")

  title Carol Kahn
  link(rel="stylesheet", href="/style.css")

  script(src="https://code.jquery.com/jquery-2.1.4.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
  // Required for Previews and Experiments
  script(src="//static.cdn.prismic.io/prismic.min.js")

  script.
    $(document).ready(function () {
      $('a:not([href^="#"])').attr('target', '_blank');
      $('#contact-button')
        .popover({
          content: $('#contact-form').html(),
          html: true,
          placement: 'bottom',
          viewport: { selector: '#main-nav', padding: 0 }
        })
        .on('click', function (evt) {
          evt.stopPropagation();
        });
      $(document).on('click', function () {
        $('#contact-button').popover('hide')
      });

      $('a[href^="#"]').on('click', function (e) {
        e.preventDefault();
        var target = this.hash;
        var $target = $(target);
        $('html, body').stop().animate({
          'scrollTop': $target.offset().top - 45
        }, 200, 'swing', function () {
          window.location.hash = target;
        });
      });


      setInterval(function () {
        var $current = $('.testimonial-con blockquote.active');
        var $next = $current.next('blockquote:not(.spacer)');
        if ($next.length) {
          $next.addClass('active');
        } else {
          $('.testimonial-con blockquote:first-of-type').addClass('active');
        }
        $current.removeClass('active');
        $('.testimonial-con blockquote.out').removeClass('out');
        $current.addClass('out');
      }, 10000)

    });

body(
  data-offset = "45"
  data-spy="scroll"
  data-target="#main-nav"
)
  #contact-form(
    style="display: none"
  )
    .contact
      a(
        href = "tel:414-839-2665"
      )
        span.glyphicon.glyphicon-earphone
        | 414-839-2665
      a(
        href = "mailto:todo@example.com"
      )
        span.glyphicon.glyphicon-envelope
        | todo@example.com


  nav.navbar.navbar-default.navbar-fixed-top.navbar-default(role='navigation')
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-nav', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#home')
          span.glyphicon.glyphicon-leaf.green
          | Carol Kahn
      #main-nav.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#about') About
          li
            a(href='#individual') Individuals
          li
            a(href='#groups') Groups
          li
            a(href='#current-workshops') Workshops
          li
            a.visible-xs-block(href='#contact') Contact
            #contact-button.visible-sm-block.visible-md-block.visible-lg-block.btn.btn-success.btn-sm(style="margin-top: 10px;") Contact

  block body

  section.footer(id="contact")
    .container
      span.copywright &#169; Carol Kahn 2015
      a(
      href = "tel:414-839-2665"
      )
        span.glyphicon.glyphicon-earphone
        | 414-839-2665
      a(
      href = "mailto:todo@example.com"
      )
        span.glyphicon.glyphicon-envelope
        | todo@example.com