//@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../node_modules/bootswatch/custom/variables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../node_modules/bootswatch/custom/bootswatch";

body { margin-top: 50px; position: relative; height: 100%; }
nav.navbar{
  margin-bottom: 0px;
  .btn{
    margin-left: 10px;
    margin-top: 8px;
    margin-right: 15px;
  }
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.image-bg {
  background-image: url(https://c1.staticflickr.com/1/424/18578497398_4e2d69fd94_k.jpg);
  background-size: cover;
  background-position: center;
  .container {
    > h1, > h2, > h3, > h4, > h5, > h6 {
      color: #ffffff;
      text-shadow: 0 2px 3px rgba(0, 0, 0, .5);
    }
  }
}

.sun {
  background-image: url(https://c1.staticflickr.com/7/6097/6348153359_a2b90b913d_b.jpg);
}

.green {
  color: $brand-success;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #3D2442;
}

.glyphicon {
  padding: 0 10px 0 0;
}

span {
  &.start, &.end {
    color: #E3DEE2;
    font-size: 36px;
    line-height: 0;
    vertical-align: -10px;
  }
  &.start {
    margin: 0 2px 0 -14px;
  }
}

section {
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;

  img {
    max-width: 100%;
  }

  &.alternate{
    background-color: #F4F5F3;
    box-shadow: 1px 4px 9px -6px rgba(0,0,0,.25) inset, 1px -4px 9px -6px rgba(0,0,0,.25) inset;
    margin-left: -5px;
  }

  &.footer {
    background-color: $brand-success;
    color: #ffffff;
    a {
      display: inline-block;
      color: #fff;
      margin-right: 30px;
    }
    .copywright{
      float: right;
    }
  }

  &.background-image{
    background-size: cover;
    background-position: center;
  }
}
.hero{
  h1{
    padding: 200px 0px 0px;
    font-size: 48px;
    text-align: left;
    color: #ffffff;
    text-shadow: 0 5px 5px rgba(0, 0, 0, .5);
  }
}
.container{
  position: relative;
}
.caption{
  background-color: $brand-success;
  color: #ffffff;
  padding: 100px 0 20px;
  margin: 0 0 -25px 0;
  background: -moz-linear-gradient(top, rgba(135,174,117,0) 0%, rgba(135,174,117,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,174,117,0)), color-stop(100%,rgba(135,174,117,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(135,174,117,0) 0%,rgba(135,174,117,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(135,174,117,0) 0%,rgba(135,174,117,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(135,174,117,0) 0%,rgba(135,174,117,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(135,174,117,0) 0%,rgba(135,174,117,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0087ae75', endColorstr='#87ae75',GradientType=0 );
}

.custom-popover {
  position: relative;
  text-decoration: underline;
  cursor: pointer;
  .popover-content{
    opacity: 0;
    position: absolute;
    transition: opacity .3s ease-in-out;
    margin: 0px;
    padding: 20px 20px 20px 40px;
    pointer-events: none;
    top: 50%;
    left: -30px;
    background-color: white;
    z-index: 2;
    transform: translateX(-100%) translateY(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    border-left: 3px solid $brand-primary;

    &:after, &:before {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(213, 213, 213, 0);
      border-left-color: white;
      border-width: 10px;
      margin-top: -10px;
    }
    &:before {
      border-color: rgba(0, 0, 0, 0);
      border-left-color: white;
      border-width: 12px;
      margin-top: -12px;
    }



  }
  &:hover{
    .popover-content{
      opacity: 1;
    }
  }
}

.homepage-lists{
  
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: stretch;

  .panel {
    flex: 300px;
    margin: 15px;
  }
}

.workshops{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin: 0 -15px;
  .panel {
    margin: 15px;
    flex: 300px;
  }
  .panel-heading {
    font-size: 14px;
    font-weight: bold;
    small {
      margin-top: 5px;
      display: block;
      font-size: 11px;
      font-weight: normal;
    }
  }
}

.panel-purple{
  border: transparent;
  border-bottom: 1px solid #3D2442;
  box-shadow: none;
  border-radius: 0;

  & > .panel-heading{
    border-radius: 0;
    border-top: 5px solid #3D2442;
    padding-bottom: 0px;
  }
  & > .panel-body {
    padding-top: 0px;
  }
}

blockquote {
    margin: 15px;
    flex: 300px;
    background-color: #ffffff;
    padding: 25px 35px;
    border-radius: 5px;
    &:hover {
      border-color: $brand-info;
    }
  }
.testimonial-con {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  
}

.contact{
  a {
    display: block;
    white-space: nowrap;
  }
}

.headshot{
  float: right;
  border: 8px solid white;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0,0,0,.25);
  margin: 35px 0 20px 20px;
  max-width: 300px;
}